#txtfield
{
	-fx-border-color: red;
}


#btn1
{
	-fx-border-color: red;
	-fx-background-radius : 2em;
	-fx-border-radius:2em;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}